body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("img/Screenshot\ 2024-11-11\ 220023.png")
}
.navbar-brand img {
    position: relative;
    border-radius: 2000px;
    width: 11%;
    margin-top: -1%;
    margin-left: 1%;
    margin-bottom: -3%;
}

.navbar {
    background-image: linear-gradient(to bottom, rgba(122, 16, 122, 0.5), #0063cc00);
}

.navbar-nav li a {
    color: #ffff !important;
    font-weight: 700px;
    float: right;
    text-align: left;
    padding: 0 25px !important;
    font-size: 20px;
}

.navbar-nav li a {
    border-block-end: 1px solid #0062cc;
    border-block-start: 1px solid #0062cc;
    border-color: none;
    margin: 7px;
    margin-top: 1px;
}

.nav-link {
    border: none;
}

.nav-link:hover {
    border: 1px solid #0062cc;
    background: linear-gradient(to right, #0063cc8c, rgba(122, 16, 122, 0.747));
}

.navbar-nav {
    padding: 0 10px;

}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;

}

#name {
    margin-top: 20%;

    font-size: 620%;
    background: -webkit-linear-gradient(rgb(31, 187, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.about {
    font-size: 150%;
    background: -webkit-linear-gradient(rgb(31, 187, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-form {
    background: linear-gradient(to right, rgba(122, 16, 122, 0.349), #0063cc6e);
    border-radius: 2em;
    margin-top: 29%;
    margin-bottom: 5%;
    width: 70%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;

}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #ffff;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btn {
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
   padding:7px 15px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, yellow, orange, red, violet, purple, blue, yellow);
    background-size: 400%;
    border-radius: 10px;
    z-index: 1;
  }
  .btn:hover {
    animation: animate 8s linear infinite;
  }
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  .btn:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(45deg, #f15523, #ef3224, #7c3697);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5%;
  }
  .btn:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }
  